@font-face {
  font-family: "Evolventa";
  font-style: normal;
  font-weight: normal;
  src: url("./font/Evolventa/Evolventa-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Capsmall_clean";
  font-style: normal;
  font-weight: normal;
  src: url("./font/Capture_Smallz/Capsmall_clean.ttf") format('truetype');
}

body, .bg, .contents {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #cfd8e8;
  /* color: #ffffffa3; */
  font-family: "Evolventa";
}

.connect {
  font-family: "Capsmall_clean";
  color: #cfd8e8;
  /* color: #ffffffa3; */
}

.right_gex , .sign {
  position: relative;
  min-width: 1280px;
}

.bg {
  background: rgb(50, 50, 50);
  /* background: linear-gradient(to top left, #476adb 11%, #3a7ad9 37%, #2e8bd8 61%, #17aad2 94%); */
  position: fixed;
}

.sign_2 {
  right:-51px;
  opacity: 0;
  position: fixed;
  top: calc(50% - 300px);
  transition: all 0.5s ease-in-out;
}
.sign_2.open {
  top: calc(50% - 300px);
  right: 0%;
  opacity: 1;
}
.sign_1 {
  position: absolute;
  right: calc(50% - 550px);
  top: -245px;
}

.contents, .information, .profession {
  position: relative;
}

.information {
  margin: 0 auto;
  height: 100%;
  width: 1270px;
}

.profession {
  margin: 0 auto;
  height: 100%;
  width: 1270px;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}

.text_1 {
  left: 49%;
  margin-left: -342px;
  position: absolute;
  top: 182px;
  text-align: center;
}

.text_1 h, .text_2 h, .text_4 h, .text_5 h,
.text_6 h, .text_7 h, .text_8 h, .text_9 h,
.text_10 h, .text_11 h {
  color: #ffffffdb;
}

.text_2 {
  margin-left: _20px;
  position: absolute;
  top: 235px;
  text-align: center;
  left: 50%;
}

.text_3 {
  position: absolute;
  top: 340px;
  left: 3%;
}

.gears {
  top: 320px;
  position: absolute;
  left: 72.3%;
  /* margin-left: 320px; */
}

.cloud {
  top: 515px;
  position: absolute;
}

.text_4 {
  position: absolute;
  font-size: 17px;
  margin-left: 170px;
  top: 500px;
}

.network_1 {
  position: absolute;
  top: 650px;
}

.text_5 {
  position: absolute;
  font-size: 17px;
  top: 707px;
  text-align: right;
  right: 0px;
  margin-right: calc(57px + 150px + 20px);
}

.ideas {
  position: absolute;
  top: 715px;
  right: 0px;
  margin-right: 57px;
}

.vacancy {
  top: 878px;
  position: absolute;
}

.text_6 {
  font-size: 17px;
  position: absolute;
  top: 898px;
  margin-left: 170px;
}

.network_2 {
  position: absolute;
  top: 853px;
  margin-right: 57px;
  right: 0px;
}

.text_7 {
  position: absolute;
  top: 1100px;
  right: 0px;
  font-size: 17px;
  text-align: right;
  margin-right: calc(57px + 150px + 20px);
}

.promotion {
  margin-right: 57px;
  position: absolute;
  top: 1100px;
  right: 0px;
}

.text_8 {
  position: absolute;
  left: 50%;
  margin-left: calc(-492.75px / 2);
  font-size: 30px;
  text-align: center;
  top: 1050px;
}

.cat_main_img {
  position: absolute;
  top: 1227px;
  left: calc(50% - 475px/2);
}

.text_9 {
  left: calc(50% + 125px);
  position: absolute;
  top: 1249px;
  font-size: 30px;
}

.text_10 {
  text-align: center;
  position: absolute;
  top: 1400px;
  font-size: 30px;
  left: calc(50% - 520px);
}

.text_11 {
  position: absolute;
  top: 1549px;
  font-size: 30px;
  left: calc(50% + 170px);
}

.cat_users {
  position: absolute;
  top: 1465px;
  left: calc(50% - 20px);
}

.cat_enterprise {
  position: absolute;
  top: 1242px;
  left: calc(50% - 31px);
}

.cat_businessmen {
  position: absolute;
  top: 1365px;
  left: calc(50% - 145px);
}

.gex_1, .gex_2, .gex_3, .gex_4, .gex_5, .gex_6 {
  position: absolute;
}

.gex_1 {
  left: 15px;
  top: 10px;
}

.gex_2 {
  right: 20px;
  top: 50px;
}

.gex_3 {
  top: 1150px;
  left: 55px;
}

.gex_4 {
  top: 1300px;
  right: 10px;
}

.gex_5 {
  top: 1760px;
  left: 20px;
}

.gex_6 {
  top: 1760px;
  right: 5px;
}

.but_inf {
  top: 80px;
  fill: none;
  stroke: #0e94ff;
  stroke-width: 3;
  position: absolute;
  fill-rule: evenodd;
  left: calc(50% - 480px/2);
}

.h_inf {
  position: absolute;
  left: calc(50% - 404.5px/2);
  top: 96px;
}

.but_sign_up_1, .but_sign_up_2, .but_sign_in_1, .but_sign_in_2 {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 5;
  fill-rule: evenodd;
}

.h_sign_up_2 {
  word-wrap: break-word;
  display: block;
  width: 17px;
  top: 215px;
  text-align: center;
  position: absolute;
  right: 16px;
}

.h_sign_in_2 {
  word-wrap: break-word;
  display: block;
  width: 17px;
  top: 30px;
  text-align: center;
  position: absolute;
  right: 16px;
}

.h_sign_up_1 {
  position: absolute;
  top: 22px;
  font-size: 19px;
  right: 49%;
}

.h_sign_in_1 {
  position: absolute;
  top: 22px;
  font-size: 19px;
  right: 8.5%;
}

.sign_window {
  position: fixed;
  /* background: #ff00004f; */
  background: rgb(50, 50, 50);
  /* background: rgb(90, 90, 90); */
  height: 100%;
  width: 339px;
  right: 0px;
}
.modal_type_accaunt {
  display: grid;
  grid-template-columns: 100px 100px 90px;
  padding-left: 24px;
}

.svg_sign_window {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 1;
  fill-rule: evenodd;
  position: absolute;
}
.svg_company_name {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 3;
  fill-rule: evenodd;
  position: absolute;
  top: 215px;
}

.sign_window p {
  text-align: center;
  font-size: 17px;
  margin: 8px 0px;
}

.sign_window input {
  border: none;
  /* color: white; */
  outline: none;
  outline-offset: 0;
  font-size: 15px;
  position: relative;
  /* background: rgb(50, 50, 50); */
}

.modal_type_accaunt p {
  font-size: 10px;
  text-align: center;
}
.modal_type_accaunt img {
  margin: 25px auto;
  display: block;
}
.sign_elements {
  position: absolute;
  top: 7%;
  height: 93%
}
.sign_elements_design {
  overflow: auto;
  position: relative;
  height: 100%;
}
.input_company_name, .input_login, .input_password, .input_repeat_password {
  margin: 0 auto;
  display: block;
  width: 200px;
}
.ddmmyyyy {
  padding-left: 26px;
}
.ddmmyyyy input {
  width: 60px;
  margin-left: 20px;
}
.input_login, .input_password, .input_repeat_password{
  width: 280px;
}

.button_sign_up {
  margin-left: 25%;
  margin-top: 40px;
}
.list_dd li {
  list-style-type: none;
  text-align: center;
}
.list_dd {
  padding: 0;
  margin: 0;
}
.dd_container {
  color: black;
  right: 228px;
  z-index: 100;
  position: absolute;
  background: white;
  width: 62px;
  height: 200px;
  overflow: auto;
  display: none;
}
::-webkit-scrollbar {
display: none;
}
