@font-face {
  font-family: "Evolventa";
  font-style: normal;
  font-weight: normal;
  src: url("./font/Evolventa/Evolventa-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Capsmall_clean";
  font-style: normal;
  font-weight: normal;
  src: url("./font/Capture_Smallz/Capsmall_clean.ttf") format('truetype');
}

body, .bg, .contents {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 19px;
  color: #cfd8e8;
  /* color: #ffffffa3; */
  font-family: "Evolventa";
}

.connect {
  font-family: "Capsmall_clean";
  color: #cfd8e8;
  /* color: #ffffffa3; */
}

.right_gex, .sign {
  position: relative;
  min-width: 1280px;
}

.bg {
  background: rgb(50, 50, 50);
  /* background: linear-gradient(to top left, #476adb 11%, #3a7ad9 37%, #2e8bd8 61%, #17aad2 94%); */
  position: fixed;
}

.sign_2 {
  right: -60px;
  opacity: 0;
  position: fixed;
  top: calc(50% - 300px);
  transition: all 0.5s ease-in-out;
}

.sign_2.open {
  top: calc(50% - 300px);
  right: 0%;
  opacity: 1;
}

.sign_1 {
  position: absolute;
  right: calc(50% - 550px);
  top: -225px;
}

.contents, .information, .profession {
  position: relative;
}

.information {
  margin: 0 auto;
  height: 100%;
  width: 1270px;
}

.profession {
  margin: 0 auto;
  height: 100%;
  width: 1270px;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}

.text_1 {
  left: 49%;
  margin-left: -342px;
  position: absolute;
  top: 182px;
  text-align: center;
}

.text_1 h, .text_2 h, .text_4 h, .text_5 h,
.text_6 h, .text_7 h, .text_8 h, .text_9 h,
.text_10 h, .text_11 h {
  color: #ffffffdb;
}

.text_2 {
  margin-left: -20px;
  position: absolute;
  top: 235px;
  text-align: center;
  left: 50%;
}

.text_3 {
  position: absolute;
  top: 340px;
  left: 3%;
}

.gears {
  top: 320px;
  position: absolute;
  left: 72.3%;
  /* margin-left: 320px; */
}

.cloud {
  top: 515px;
  position: absolute;
}

.text_4 {
  position: absolute;
  font-size: 17px;
  margin-left: 170px;
  top: 500px;
}

.network_1 {
  position: absolute;
  top: 650px;
}

.text_5 {
  position: absolute;
  font-size: 17px;
  top: 707px;
  text-align: right;
  right: 0px;
  margin-right: calc(57px + 150px + 20px);
}

.ideas {
  position: absolute;
  top: 715px;
  right: 0px;
  margin-right: 57px;
}

.vacancy {
  top: 878px;
  position: absolute;
}

.text_6 {
  font-size: 17px;
  position: absolute;
  top: 898px;
  margin-left: 170px;
}

.network_2 {
  position: absolute;
  top: 853px;
  margin-right: 57px;
  right: 0px;
}

.text_7 {
  position: absolute;
  top: 1100px;
  right: 0px;
  font-size: 17px;
  text-align: right;
  margin-right: calc(57px + 150px + 20px);
}

.promotion {
  margin-right: 57px;
  position: absolute;
  top: 1100px;
  right: 0px;
}

.text_8 {
  position: absolute;
  left: 50%;
  margin-left: calc(-492.75px / 2);
  font-size: 30px;
  text-align: center;
  top: 1050px;
}

.cat_main_img {
  position: absolute;
  top: 1227px;
  left: calc(50% - 475px/2);
}

.text_9 {
  left: calc(50% + 125px);
  position: absolute;
  top: 1249px;
  font-size: 30px;
}

.text_10 {
  text-align: center;
  position: absolute;
  top: 1400px;
  font-size: 30px;
  left: calc(50% - 520px);
}

.text_11 {
  position: absolute;
  top: 1549px;
  font-size: 30px;
  left: calc(50% + 170px);
}

.cat_users {
  position: absolute;
  top: 1465px;
  left: calc(50% - 20px);
}

.cat_enterprise {
  position: absolute;
  top: 1242px;
  left: calc(50% - 31px);
}

.cat_businessmen {
  position: absolute;
  top: 1365px;
  left: calc(50% - 145px);
}

.gex_1, .gex_2, .gex_3, .gex_4, .gex_5, .gex_6 {
  position: absolute;
}

.gex_1 {
  left: 15px;
  top: 10px;
}

.gex_2 {
  right: 20px;
  top: 50px;
}

.gex_3 {
  top: 1150px;
  left: 55px;
}

.gex_4 {
  top: 1300px;
  right: 10px;
}

.gex_5 {
  top: 1760px;
  left: 20px;
}

.gex_6 {
  top: 1760px;
  right: 5px;
}

.but_inf {
  top: 80px;
  fill: none;
  stroke: #0e94ff;
  stroke-width: 3;
  position: absolute;
  fill-rule: evenodd;
  left: calc(50% - 480px/2);
}

.h_inf {
  position: absolute;
  left: calc(50% - 404.5px/2);
  top: 96px;
}

.but_sign_up_1, .but_sign_up_2, .but_sign_in_1, .but_sign_in_2 {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 5;
  fill-rule: evenodd;
}

.h_sign_up_2 {
  word-wrap: break-word;
  display: block;
  width: 17px;
  top: 215px;
  text-align: center;
  position: absolute;
  right: 16px;
}

.h_sign_in_2 {
  word-wrap: break-word;
  display: block;
  width: 17px;
  top: 30px;
  text-align: center;
  position: absolute;
  right: 16px;
}

.h_sign_up_1 {
  position: absolute;
  top: 8px;
  font-size: 19px;
  right: 49.5%;
}

.h_sign_in_1 {
  position: absolute;
  top: 8px;
  font-size: 19px;
  right: 8.5%;
  margin-left: 10px;
}

.sign_window {
  position: fixed;
  /* background: #ff00004f; */
  /* background: rgb(50, 50, 50); */
  /* background: rgb(90, 90, 90); */
  height: 100%;
  width: 370px;
  right: 0;
  top: 0;
  background: #58a;
  background:
    linear-gradient(144deg, transparent 23px, rgb(90, 90, 90) 0) top left,
    linear-gradient(-150deg, transparent 23px, rgb(90, 90, 90) 0) top right,
    linear-gradient(-36deg, transparent 25px, rgb(90, 90, 90) 0) bottom right,
    linear-gradient(40deg, transparent 26px, rgb(90, 90, 90) 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  right: -400px;
  /* opacity: 0; */
  transition: all 0.5s ease-in-out;
}

.sign_window.open {
  right: 0px;
  opacity: 1px;
}

.modal_type_accaunt {
  display: grid;
  grid-template-columns: 100px 100px 90px;
  margin-left: calc(50% - 145.3px);
}

.svg_sign_window {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 1;
  fill-rule: evenodd;
  position: absolute;
}

.svg_full_name, .svg_company_name, .svg_dd, .svg_mm, .svg_yyyy,
.svg_dd_ind, .svg_mm_ind, .svg_yyyy_ind, .svg_cont_mm, .svg_cont_dd,
.svg_cont_yyyy, .svg_cont_yyyy_ind, .svg_cont_mm_ind, .svg_cont_dd_ind,
.svg_login, .svg_login_ind, .svg_password_ind, .svg_password,
.svg_repeat_password, .svg_repeat_password_ind, .svg_individual,
.svg_individual_entrepreneur, .svg_company, .svg_individual_entrepreneur_name,
.svg_individual_name, .svg_individual_surname, .svg_patronymic_name {
  fill: none;
  stroke: #0e94ff;
  stroke-width: 3;
  fill-rule: evenodd;
  position: absolute;
}

.svg_individual, .svg_individual_entrepreneur, .svg_company {
  top: 55px;
  stroke: none;
  /* opacity: 0; */
}

/* .svg_individual:hover, .svg_individual_entrepreneur:hover, .svg_company:hover {
  stroke: #0e94ff;
} */
.svg_individual {
  right: 240px;
}

.svg_individual_entrepreneur {
  right: 140px;
}

.svg_company {
  right: 45px;
}

.svg_company_name {
  top: 223px;
  right: 55px;
}

.svg_individual_name {
  top: 224px;
  right: 4px;
}

.svg_individual_surname {
  right: 4px;
  top: 295px;
}

.svg_patronymic_name {
  right: 4px;
  top: 366px;
}

.svg_individual_entrepreneur_name {
  top: 223px;
  right: 55px;
}

.svg_full_name {
  top: 282px;
}

.svg_dd, .svg_mm, .svg_yyyy {
  top: 291px;
}

.svg_dd_ind, .svg_mm_ind, .svg_yyyy_ind {
  top: 441px;
}

.svg_cont_yyyy, .svg_cont_mm, .svg_cont_dd {
  /* position: fixed; */
  display: none;
  top: 325px;
  z-index: 100;
  /* background: rgb(50, 50, 50); */
  background: rgb(90, 90, 90);
}

.svg_cont_yyyy_ind, .svg_cont_mm_ind, .svg_cont_dd_ind {
  display: none;
  top: 475px;
  z-index: 100;
  /* background: rgb(50, 50, 50); */
  background: rgb(90, 90, 90);
}

.svg_login {
  top: 382px;
}

.svg_login_ind {
  width: 320px;
  right: 25px;
  top: 532px;
}

.svg_password {
  top: 450px;
}

.svg_password_ind {
  top: 602px;
  width: 320px;
  right: 25px;
}

.svg_repeat_password {
  top: 516px;
}

.svg_repeat_password_ind {
  top: 672px;
}

.sign_window p {
  text-align: center;
  font-size: 17px;
  margin: 8px 0px;
}

.sign_window input {
  border: none;
  color: white;
  outline: none;
  outline-offset: 0;
  font-size: 15px;
  position: relative;
  /* background: rgb(50, 50, 50); */
  background: rgb(90, 90, 90);
}

.sign_window input::placeholder {
  /* color: rgb(90, 90, 90); */
}

.modal_header p {
  font-size: 23px;
}

.modal_type_accaunt p {
  font-size: 10px;
  text-align: center;
}

.modal_type_accaunt img {
  margin: 25px auto;
  display: block;
}

.sign_elements {
  position: absolute;
  /* top: 3%; */
  height: 587px;
  width: 370px;
}

.sign_elements_design {
  top: 30px;
  overflow: auto;
  position: relative;
  height: calc(100% - 60px);
}

.input_company_name, .input_login, .input_login_ind, .input_password,
.input_password_ind, .input_repeat_password, .input_repeat_password_ind,
.input_full_name, .input_individual_entrepreneur_name {
  margin: 0 auto;
  display: block;
  width: 200px;
}

.input_individual_name {
  margin: 0 auto;
  display: block;
  width: 191px;
}

.name p, .login_ind p {
  margin-bottom: 12px;
}

.surname p, .patronymic p, .date_individual,
.password_ind p, .repeat_password_ind p {
  margin-top: 15px;
  margin-bottom: 12px;
}

.date {
  margin-top: 15px;
}

.date p {
  margin: 0px;
}

.ddmmyyyy, .ddmmyyyy_ind {
  padding-left: 20px;
}

.ddmmyyyy input, .ddmmyyyy_ind input {
  width: 60px;
  margin-left: 10px;
  text-align: center;
}

.login p {
  margin-top: 15px;
}

.password p {
  margin-top: 20px;
}

.repeat_password {
  margin-top: 15px;
}

.input_login, .input_password, .input_repeat_password,
.input_login_ind, .input_password_ind, .input_repeat_password_ind {
  width: 280px;
}

.button_sign_up_ind, .button_sign_up_comp, .button_sign_up_ind_ent {
  margin-left: 25%;
  margin-top: 40px;
}

.list_dd li, .list_mm li, .list_yyyy li {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
}

.list_dd, .list_mm, .list_yyyy {
  padding: 0;
  margin: 0;
  /* background: rgb(50, 50, 50); */
  background: rgb(90, 90, 90);
  color: white;
}

.dd_container, .mm_container, .yyyy_container {
  color: black;
  z-index: 100;
  position: absolute;
  background: white;
  height: 200px;
  overflow: auto;
  display: none;
}

.dd_container {
  right: 255px;
  width: 82px;
  margin-top: 10px;
}

.mm_container {
  right: 147px;
  width: 82px;
  margin-top: 10px;
}

.yyyy_container {
  right: 33px;
  margin-top: 10px;
  width: 82px;
}

::-webkit-scrollbar {
  display: none;
}

.day_el_hover, .month_el_hover, .years_el_hover {
  background: red;
}

.ddmmyyyy, .ddmmyyyy_ind {
  display: grid;
  grid-template-columns: 108px 117px 108px;
}

.selector_td {
  position: relative;
}

.selector_input_mm {
  width: 69px !important;
}

.close_sign_window {
  right: 342px;
  position: absolute;
  top: calc(50% - 30px);
  font-size: 60px !important;
  color: #0e94ff;
  z-index: 200;
}

.close_sign_window:hover {
  color: #aedbff !important;
}

/* .sign_color_block1 {
  clip: rect(0px, auto, auto, 8px);
  height: 35px;
  right: 342px;
  width: 17px;
  border-radius: 0 37px 36px 0;
  border: 7px #0e94ff solid;
  background: rgb(90, 90, 90);
  position: absolute;
  top: calc(50% - 25px);
} */
/* .sign_color_block2 {
  background: rgb(90, 90, 90);
  height: 44px;
  position: absolute;
  width: 8px;
  right: 362px;
  top: calc(50% - 22px);
} */
.sign_color_block1 {
  height: 37px;
  right: 342px;
  width: 37px;
  border-radius: 36px 36px 36px 36px;
  border: 7px #0e94ff solid;
  background: rgb(90, 90, 90);
  position: absolute;
  top: calc(50% - 26px);
}

/* .sign_type_individual_entrepreneur, .sign_type_company, .sign_type_individual {
  display: none;
} */
.sign_type_individual_entrepreneur {
  display: none;
}

.sign_type_company {
  display: none;
}

.sign_type_individual {
  display: none;
}
