body, #body, #bg, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#bg {
  position: fixed;
  /* background: blue; */
  background: linear-gradient(180deg, #FFFFFF 7.81%, rgba(255, 255, 255, 0) 81.25%), linear-gradient(180deg, #2898FF 0%, rgba(255, 255, 255, 0) 83.85%), rgba(174, 194, 213, 0.34);
  background: #e6f2fe;
}

#body {
  position: relative;
}
#contents {
  min-width: 800px;
  height:100%;
  width: 100%;f
  position: relative;
}

.wraps {
  margin: 0 auto;
  width: 650px;
  height: 100%;
  position: relative;
}

.wrap1 {
  position: relative;
  min-width: 650px;
}

#wall_posts {
  height: 100%;
  width: 650px;
  background: linear-gradient(180deg, #FFFFFF 7.81%, rgba(255, 255, 255, 0) 81.25%), linear-gradient(180deg, #2898FF 0%, rgba(255, 255, 255, 0) 83.85%), rgba(174, 194, 213, 0.34);
  position: absolute;
  top: 325px;
  z-index: 1;
  border-radius: 20px;
}

.right_block {
  position: relative;
  /* width: 1000px; */
}

.wrap_right_block {
  position: fixed;
  /* background: red; */
  height: 100%;
  right: 0;
  top: 20px;
  width: calc(50% - 325px);
}

.quotation {
  position: relative;
  margin-left: 40px;
  min-width: 300px;
  width: 90%;
  background: red;
  height: 100%;
}

#scope {
  position: absolute;
  z-index: 200;
  right: calc(50% - 250px);
}

.svg_big_circle {
  fill: white;
  /* margin: 0 auto; */
  /* display: block; */
  width: 500px;
}
.medium_circle {
  /* position: absolute; */
}
.svg_medium_circle {
  left: calc(50% - 175px);
  position: absolute;
  top: calc(50% - 210px);
  width: 350px;
}

.big_circle {
  height: 440px;
}

.svg_tool_circle {
  width: 60px;
  fill: #CCD2E7;
  position: absolute;
}

.svg_tool_circle1 {
  top: 295px;
  left: calc(50% - 190px);
}

.svg_tool_circle2 {
  top: 350px;
  left: calc(50% - 120px);
}

.svg_tool_circle3 {
  top: 370px;
  left: calc(50% - 30px);
}

.svg_tool_circle4 {
  top: 350px;
  right: calc(50% - 120px);
}

.svg_tool_circle5 {
  top: 295px;
  right: calc(50% - 190px);
}

.vector {
  position: absolute;
  top: calc(50% - 179px);
  left: calc(50% - 129px);
  z-index: 10;
}

.img_vector {
  width: 200px;
}

.img_contour {
  width: 150px;
  position: absolute;
  top: calc(50% - 154px / 2 - 35px);
  left: calc(50% - 150px / 2);
  z-index: 9;
}

.svg_user_tool_circle {
  position: absolute;
  /* fill: white; */
  fill: #ff7d7d;
  width: 28px;
}

.svg_user_tool_circle1 {
  top: 86px;
  left: 34px;
}

.svg_user_tool_circle2 {
  top: 59px;
  left: 53px;
}

.svg_user_tool_circle3 {
  top: 42px;
  left: 81px;
}

.svg_user_tool_circle4 {
  top: 37px;
  left: 114px;
}

.svg_user_tool_circle5 {
  top: 41px;
  left: 147px;
}

.img_user_photo {
  border: 0px solid black;
  border-radius: 75px;
  width: 98px;
  height: 98px;
  top: calc(50% - 100px / 2 - 36px);
  left: calc(50% - 100px / 2 - -1px);
  position: absolute;
}

.svg_general_tool {
  position: absolute;
  fill: #C4C4C4;
  width: 45px;
}

.svg_setting {
  top: 40px;
  left:calc(50% + 100px);
}

.svg_diagram {
  top: 190px;
  left: calc(50% + 147px);
}
