.Wall {
  height: 100%;
  width: 100%;
}

.wrap2_Wall {
  z-index: 8;
  width: 100%;
  height: 100%;
}
.wrap1_Wall {
  width: 500px;
  height: calc(100% - 528px);
  margin-left: calc(50% - 250px);
}

.left_sideBorderImg {
  left: calc(50% - 280px);
}

.right_sideBorderImg {
  right: calc(50% - 280px);
}

.left_sideBorderImg, .right_sideBorderImg {
  width: 20px;
  z-index: 1000;
  height: 100%;
  top: 451px;
  position: absolute;
}

.left_sideBorderImg.fix, .right_sideBorderImg.fix {
  position: fixed;
  top: 0px;
}
