.Circle {
  position: absolute;
  top: -50px;
  z-index: 10;
  right: calc(50% - 250px);
}

.Big_circle {
  width: 500px;
}

.svg_big_circle {
  width: 500px;
  fill: white;
}

.Medium_circle {
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 210px);
  width: 350px;
}

.svg_medium_circle {
  width: 350px;
  fill: #DDE8F3;
}

.Crown {
  position: absolute;
  top: 65px;
  left: 65px;
}

.img_crown {
  width: 170px;
}

.crown_buttons {
  position: absolute;
  top: 0px;
  z-index: 11;
}

.crown_svg {
  position: absolute;
  width: 23px;
  fill: white;
}

.crown_img {
  position: absolute;
  /* width:  */
}

.svg_crown_circle_name1 {
  top: 11px;
  left: 125px;
}

.img_crown_element_name1 {
  top: 17px;
  left: 130px;
  width: 13px;
}

.svg_crown_circle_name2 {
  top: 7px;
  left: 95px;
}

.img_crown_element_name2 {
  top: 13px;
  left: 100px;
  width: 13px;
}

.svg_crown_circle_name3 {
  top: 13px;
  left: 65px;
}

.img_crown_element_name3 {
  top: 17px;
  left: 71px;
  width: 11px;
}

.svg_crown_circle_name4 {
  top: 29px;
  left: 39px;
}

.img_crown_element_name4 {
  top: 34px;
  left: 44px;
  width: 13px;
}

.svg_crown_circle_name5 {
  top: 53px;
  left: 19px;
}

.img_crown_element_name5 {
  top: 58px;
  left: 24px;
  width: 13px;
}

.svg_crown_circle_name6 {
  top: 82px;
  left: 9px;
}

.img_crown_element_name6 {
  top: 86px;
  left: 14px;
  width: 12px;
}

.Small_circle {
  position: absolute;
  z-index: 9;
  top: calc((50% - 77px) - 35px);
  left: calc(50% - 75px);
}

.img_contour {
  width: 150px;
}

.avatar {
  position: absolute;
  top: 26px;
  left: 26px;
}

.img_avatar {
  width: 98px;
  height: 98px;
  border-radius: 75px;
}

.tools {
  position: absolute;
  fill: #A8BED6;
  top: 0px;
}

.tools_svg {
  width: 65px;
  position: absolute;
}

.img_tools {
  position: absolute;
  width: 35px;
}

.svg_tools_circle_name1 {
  top: 245px;
  left: 24px;
}

.img_tools_element_name1 {
  top: 263px;
  left: 39px;
}

.svg_tools_circle_name2 {
  top: 308px;
  left: 72px;
}

.img_tools_element_name2 {
  top: 325px;
  left: 87px;
}

.svg_tools_circle_name3 {
  top: 350px;
  left: 140px;
}

.img_tools_element_name3 {
  top: 365px;
  left: 155px;
}

.svg_tools_circle_name4 {
  top: 365px;
  left: 220px;
}

.img_tools_element_name4 {
  top: 380px;
  left: 235px;
}

.svg_tools_circle_name5 {
  top: 350px;
  left: 300px;
}

.img_tools_element_name5 {
  top: 362px;
  left: 315px;
}

.svg_tools_circle_name6 {
  top:308px;
  left: 368px;
}

.img_tools_element_name6 {
  top:322px;
  left: 383px;
}

.svg_tools_circle_name7 {
  top: 245px;
  left: 416px;
}

.img_tools_element_name7 {
  width: 30px;
  height: 38px;
  top: 257px;
  left: 434px;
}
